.card-info-wrapper {
  display: flex;
  /* align-items:; */
}

.card-info {
  display: flex;
  flex-wrap: wrap;
  gap: 5px 20px;
  align-items: center;
  max-width: 800px;
  /* align-content: flex-start; */
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.input-group label {
  font-weight: 500;
}

.remove-btn {
  max-height: 50px;
  margin-top: 25px;
  background-color: transparent;
  border: none;
}

.remove-icon {
  flex-shrink: 0;
  width: 26px;
  height: 26px;
  cursor: pointer;
  color: var(--input-color);
  transition: color 0.2s ease;
}

.remove-icon:hover {
  color: var(--color-accent);
}

.num-label {
  display: flex;
  align-items: center;
  justify-content: baseline;
  max-height: 50px;
  margin-top: 25px;
  margin-bottom: 0;
  font-size: 1.2rem;
  width: 30px;
  flex-shrink: 0;
}

@media (max-width: 961px) {
  .input-group label {
    font-size: 0.9em;
  }
}
