.dropdown-wrapper {
  position: relative;
  min-width: 200px;
  font-size: 14px;
}

.dropdown-btn {
  padding: 8px 10px;
  background-color: #fff;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); */
  /* color: var(--input-color); */
  border: 1px solid var(--input-border);
  background: var(--input-background);
  transition: border 0.3s ease;
  line-height: 25px;
}

.dropdown-btn.open {
  border-color: var(--group-border-focus);
}

.dropdown-menu {
  position: absolute;
  right: 0;
  width: 100%;
  margin-top: 5px;
  padding: 5px 0;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid var(--input-border);
  /* opacity: 0; */
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 0.05s ease-out;
  /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); */
}

.dropdown-menu.open {
  /* opacity: 1; */
  transform: scale(1);
  border-color: var(--group-border-focus);
}

.dropdown-arrow {
  transition: transform 0.05s ease-out;
}

.flipped {
  transform: rotate(-180deg);
}

.dropdown-menu .item {
  padding: 8px 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-menu .item:hover {
  background-color: #f5f5f5;
}
