#root {
  --input-color: #585746;
  --input-border: var(--color-accent-muted);
  --input-background: #fff;
  --input-placeholder: #dcdbcb;

  --input-border-focus: var(--color-accent);

  --group-color: var(--input-color);
  --group-border: var(--input-border);
  --group-background: var(--color-accent-muted);

  --group-color-focus: #fff;
  --group-border-focus: var(--color-accent);
  --group-background-focus: var(--color-accent);
}

.hero {
  padding: 2rem 0;
  width: 100vw;
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.title {
  margin: 0;
}

.attribution {
  font-weight: 600;
  margin: 0;
}

.box {
  width: 70vw;
  margin: auto;
}

@media (max-width: 961px) {
  .box {
    width: 90vw;
    margin: auto;
  }
}

.step {
  min-height: 100px;
  margin: auto;
}

.budget-box {
  margin-top: 20px;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.budget-box input {
  max-width: 100px;
}

.add-icon {
  width: 26px;
  height: 26px;
}

.add-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 10px;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  border: none;
  border-radius: 5px;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
}

.add-btn:disabled {
  background-color: #93b9c3;
  cursor: not-allowed;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
